body {
background-color:blue;
color:antiquewhite;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-items: center;
align-items: center;
height: 700px;
margin: 0;
}

button{
    background-color: brown;
    color: aqua;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo{
    display: none;
}

.passo.ativo{
    display: block;
}

    main{
        text-align: center;
        max-width: 90%;
    }

    img{
        max-width: 30%;
    }